.env
*.log
*.csv
__pycache__/
cogs/__pycache__/
.gitignore
pics/hello_there.gif
pics/metal_jacket.gif
pics/shapiro.gif
pics/spongebob.jpg
.vscode/
cogs/test_cog.py
user.py
cogs/Help/help_cog.py
test_help_cog.py
cogs/Help/help_cog.py
.VSCodeCounter/2023-04-21_13-18-50/details.md
.VSCodeCounter/2023-04-21_13-18-50/diff-details.md
.VSCodeCounter/2023-04-21_13-18-50/diff.md
.VSCodeCounter/2023-04-21_13-18-50/diff.txt
.VSCodeCounter/2023-04-21_13-18-50/results.json
.VSCodeCounter/2023-04-21_13-18-50/results.md
.VSCodeCounter/2023-04-21_13-18-50/results.txt
logs.txt
